<?xml version="1.0" encoding="utf-8"?>
<mapper namespace="Mapper">
    <select id="findMapById" resultType="Map">
        SELECT id, name FROM users where id={{.id}} order by id
    </select>
    <select id="findStructByStruct" resultType="Struct">
        SELECT id Id, name Name, create_time CrtTm FROM users where id={{.id}} order by id
    </select>
    <insert id="insertStruct">
        insert into users (name, email, create_time)
        values ({{.Name}}, {{.Email}}, {{.CrtTm}})
    </insert>
    <update id="updateByStruct">
        update users set name = {{.Name}}, email = {{Email}}
        where id = {{.Id}}
    </update>

    <delete id="deleteById">
        delete from users where id={{id}}
    </delete>
</mapper>